In [6]:
import pandas as pd

In [7]:
# 1. Write a program that uses an if-else ladder.

In [8]:
print("Will I present today?")
answer = input()
if answer == 'yes':
    print('You go, girl!')
elif answer == 'no':
    print('Saved this time!')
else:
    print('Keep waiting anxiously :p')

Will I present today?
no
Saved this time!

In [ ]:
#W 2. Write 5 different functions and call them in one program.

In [1]:
def intro():
    print('What is your name?')
    x = input()
    print('Welcome to the kitchen,',x,'!')

In [2]:
def dishname():
    print('\nWhat are we making today?')
    x = input()

In [10]:
def dessert():
    print('\nWhat about dessert?')
    x = input()
    print('\nExcellent decision!')

In [4]:
def tools():
    print('\nDo you want dry ingredients or wet ingredients?')
    x = input()
    if x == 'dry':
        print('\nLook in the overhead cabinet!')
    elif x == 'wet':
        print('\nLook in the fridge!')
    else:
        print("\nDidn't quite get you. Try again!")

In [5]:
def ending():
    print('\nAre you ready to start cooking?')
    x = input()
    if x == 'yes':
        print('\nYay! All the Best!')
    else:
        print("\nYou're a loser")

In [49]:
intro()
dishname()
dessert()
tools()
ending()

What is your name?
jugvi
Welcome to the kitchen, jugvi !

What are we making today?
pasta

What about dessert?
brownie

Excellent decision!

Do you want dry ingredients or wet ingredients?
dry

Look in the overhead cabinet!

Are you ready to start cooking?
no

You're a loser

In [ ]:
# 3. Read any dataset and perform a missing value treatment, check for distribution of each variable, find the correlation matrix and write conclusions from the matrix.

In [16]:
df = pd.read_csv('C:/Users/jugvi/Downloads/Tetuan City power consumption.csv')

In [17]:
df.head(5)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [18]:
df.sum()

DateTime                     1/1/2017 0:001/1/2017 0:101/1/2017 0:201/1/201...
Temperature                                                         985946.216
Humidity                                                            3577890.92
Wind Speed                                                          102708.568
general diffuse flows                                              9576225.707
diffuse flows                                                      3932668.797
Zone 1 Power Consumption                                      1695393977.06092
Zone 2  Power Consumption                                    1102964156.058971
Zone 3  Power Consumption                                     934860652.342433
dtype: object

In [19]:
df.isna().sum()

DateTime                     0
Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [20]:
df.fillna

<bound method DataFrame.fillna of                DateTime  Temperature  Humidity  Wind Speed  \
0         1/1/2017 0:00        6.559      73.8       0.083
1         1/1/2017 0:10        6.414      74.5       0.083
2         1/1/2017 0:20        6.313      74.5       0.080
3         1/1/2017 0:30        6.121      75.0       0.083
4         1/1/2017 0:40        5.921      75.7       0.081
...                 ...          ...       ...         ...
52411  12/30/2017 23:10        7.010      72.4       0.080
52412  12/30/2017 23:20        6.947      72.6       0.082
52413  12/30/2017 23:30        6.900      72.8       0.086
52414  12/30/2017 23:40        6.758      73.0       0.080
52415  12/30/2017 23:50        6.580      74.1       0.081

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062          0.100               29128.10127
3                      0.091          0.096               28228.86076
4                      0.048          0.085               27335.69620
...                      ...            ...                       ...
52411                  0.040          0.096               31160.45627
52412                  0.051          0.093               30430.41825
52413                  0.084          0.074               29590.87452
52414                  0.066          0.089               28958.17490
52415                  0.062          0.111               28349.80989

       Zone 2  Power Consumption  Zone 3  Power Consumption
0                    16128.87538                20240.96386
1                    19375.07599                20131.08434
2                    19006.68693                19668.43373
3                    18361.09422                18899.27711
4                    17872.34043                18442.40964
...                          ...                        ...
52411                26857.31820                14780.31212
52412                26124.57809                14428.81152
52413                25277.69254                13806.48259
52414                24692.23688                13512.60504
52415                24055.23167                13345.49820

[52416 rows x 9 columns]>

In [21]:
df.corr()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
Wind Speed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
general diffuse flows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
diffuse flows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
Zone 1 Power Consumption,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000

In [22]:
#Correlation 1 indicates perfectly positive linear correlation between two variables.
#Correlation 0 indicates no linear correlation between two variables.
#Correlation -1 indicates perfectly negative linear correlation between two variables.

In [23]:
#This shows that there is a strong positive correlation between:
#1)'Zone 1 Power Consumption' and 'Zone 2 Power Consumption'
#2)'Zone 1 Power Consumption' and 'ZOne 3 Power Consumption'

#There is a weak positive correlation between:
#1)'Temperature' and 'Diffuse Flows'
#2)'Wind Speed' and 'Zone 1 Power Consumption', 'Zone 2 Power Consumption', 'Zone 3 Power Consumption'
#3)'General Diffuse Flows' and 'Wind Speed', 'Zone 1 Power Consumption','Zone 2 Power Consumption','Zone 3 Power Consumption'
#4)'Diffuse Flows' and 'Zone 1 Power Consumption', 'Zone 2 Power Consumption'

#There is weak negative correlation between:
#1)'Humidity' and 'Wind Speed', 'Diffuse Flows', 'Zone 1 Power Consumption', 'Zone 2 Power Consumption', 'Zone 3 Power Consumption'
#2)'Wind Speed' and 'Diffuse Flows'
#3)'Diffuse Flows' and 'Zone 3 Power Consumption'

In [24]:
# 4. Read a dataset and perform slice it in different ways

In [25]:
df[0:5]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [30]:
df[5:15:2]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,18130.12048
7,1/1/2017 1:10,5.496,78.2,0.085,0.055,0.093,25446.07595,16661.39818,17459.27711
9,1/1/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367,15939.20973,16794.21687
11,1/1/2017 1:50,5.471,76.7,0.083,0.059,0.126,23544.30380,15213.37386,16395.18072
13,1/1/2017 2:10,4.968,78.8,0.084,0.070,0.134,22329.11392,14710.03040,15822.65060

In [35]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [41]:
df.loc[[5,15],'Humidity']

5     76.9
15    79.1
Name: Humidity, dtype: float64

In [42]:
df.loc[:,'Wind Speed']

0        0.083
1        0.083
2        0.080
3        0.083
4        0.081
         ...
52411    0.080
52412    0.082
52413    0.086
52414    0.080
52415    0.081
Name: Wind Speed, Length: 52416, dtype: float64

In [44]:
df.loc[5]

DateTime                     1/1/2017 0:50
Temperature                          5.853
Humidity                              76.9
Wind Speed                           0.081
general diffuse flows                0.059
diffuse flows                        0.108
Zone 1 Power Consumption       26624.81013
Zone 2  Power Consumption      17416.41337
Zone 3  Power Consumption      18130.12048
Name: 5, dtype: object

In [45]:
df.iloc[5:15]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,18130.12048
6,1/1/2017 1:00,5.641,77.7,0.080,0.048,0.096,25998.98734,16993.31307,17945.06024
7,1/1/2017 1:10,5.496,78.2,0.085,0.055,0.093,25446.07595,16661.39818,17459.27711
8,1/1/2017 1:20,5.678,78.1,0.081,0.066,0.141,24777.72152,16227.35562,17025.54217
9,1/1/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367,15939.20973,16794.21687
10,1/1/2017 1:40,5.516,77.5,0.081,0.051,0.108,23896.70886,15435.86626,16638.07229
11,1/1/2017 1:50,5.471,76.7,0.083,0.059,0.126,23544.30380,15213.37386,16395.18072
12,1/1/2017 2:00,5.059,78.6,0.081,0.070,0.096,23003.54430,15169.60486,16117.59036
13,1/1/2017 2:10,4.968,78.8,0.084,0.070,0.134,22329.11392,14710.03040,15822.65060
14,1/1/2017 2:20,4.975,78.9,0.083,0.055,0.152,22092.15190,14421.88450,15672.28916

In [46]:
df.iloc[[4,9]]

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
9,1/1/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367,15939.20973,16794.21687

In [47]:
df.iloc[[4,9],5]

4    0.085
9    0.111
Name: diffuse flows, dtype: float64

In [48]:
df.iloc[[4,9],[1,2,3]]

   Temperature  Humidity  Wind Speed
4        5.921      75.7       0.081
9        5.491      77.3       0.082

In [ ]:
# 5. Can we find correlation between two categorical variables? How?

#Yes, we can find correlation between categorical variables. We can do it by doing chi-square testing on the chosen variables.
#We use scipy.stats to do the calculations.